// Colors
$fps_purple: #522b77;
$fps_orange: #e53e26;
$fps_yellow: #f89723;
$fps_black: #262626;

$fps_yellow_rgb: '248, 151, 32,';

// Screen sizes
$fps_mobile: 480px;
$fps_tablet: 800px;
$fps_desktop: 1200px;
